.photoCard {
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.photoCard,
.photo {
    max-width: 450px;
    transition: scale 300ms;
}

.photo {
    height: 250px;
    width: 400px;
}

.photoCard:hover {
    scale: 1.1;
}